<div class='row' id='main-row'>
	<div class='col-md-3' id='hierarchy'></div>
	<div class='col-md-9'id='right-content'>
		<div class='row' id='top-sub-row'><div id='graph-container'></div></div>
		<div class='row' id='bot-sub-row'></div>
	</div>
</div>